fastapi==0.115.0
uvicorn==0.30.6
groq==0.11.0
python-multipart==0.0.12
pydantic==2.9.2
aiofiles==24.1.0
httpx==0.27.2
pandas==2.2.3
numpy==2.1.2
scikit-learn==1.5.2
datasets==3.0.1
transformers==4.45.2
peft==0.13.2
trl==0.11.4
bitsandbytes==0.44.1
accelerate==1.0.1
psutil==6.0.0
torch==2.4.1
sentencepiece==0.2.0
protobuf==5.28.2
wandb==0.18.3
evaluate==0.4.3
rouge-score==0.1.2
nltk==3.9.1
